# --------------------------------------------
# Python virtual environment files
# --------------------------------------------
venv/
env/
.env/
.venv/
*/venv/
*/env/
*/.env/
*/.venv/

# --------------------------------------------
# Python cache files
# --------------------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.pkl

# --------------------------------------------
# IDE / Editor files
# --------------------------------------------
.vscode/
.idea/
*.swp
*.swo

# --------------------------------------------
# OS files
# --------------------------------------------
.DS_Store
Thumbs.db

# --------------------------------------------
# Environment and configuration files
# --------------------------------------------
*.env.local
*.env.*.local

# --------------------------------------------
# Jupyter Notebook checkpoints
# --------------------------------------------
.ipynb_checkpoints/

# --------------------------------------------
# Logs
# --------------------------------------------
*.log
logs/
